footer[role="contentinfo"]{
  color: #fff;
  background-color: $black;
  border-top: 1px solid #333;
  line-height: 1.5;
  @extend .cf;
  .vcard{
    float: left;
    .org{
      font-weight: bold;
    }
  }
  .site-info{
    clear: both;
    padding-top: 2em;
    color: #bbb;
  }
}

