html, body{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

@media #{$desktop-xlarge}{
  html{
    font-size: 100%;
  }
}
/*
body{
  font-family: $lato;
  background: #111 url('images/bg.jpg') no-repeat top center;
  background-size: cover;
  
  @media only screen and (min-width: 37.5em) { //600px
  background: #111 url('images/bg.jpg') no-repeat top center;
  background-size: contain;
  }
  
  @media only screen and (min-width: 60.0em) { //960px
  background-position: center -275px;
  background-size: contain;
  } 
}
*/
body .site{
  padding: 0;
  background-color: #fff;
  margin: 0 auto;
  @media #{$mobile-landscape} { //960px
    margin: 0 auto; 
    padding:0;
    max-width: inherit; 
  }
}

.site-content{
  margin-top: 0;
}

.wrapper{
  @include border-box;
  @include zero;
  @include rem-fallback(max-width, 100);
  margin: 0 auto;
  position: relative;
  clear: both;
  @media #{$mobile-landscape}{ //600px
    margin: 0 auto;
  }
  @media only screen and (min-width: 65em){ // overrides parent theme styles
    padding: 0 1em;
  }
  @media #{$desktop} { //1400px
    @include zero;
    margin: 0 auto;
  }
} 

%wrapper{
  @include border-box;
  @include zero;
  @include rem-fallback(max-width, 100);
  margin: 0 auto;
  position: relative;
  @media #{$mobile-landscape}{ //600px
    margin: 0 auto;
  }
  @media only screen and (min-width: 65em){ // overrides parent theme styles
    padding: 0 1em;
  }
  @media #{$desktop} { //1400px
    @include zero;
    margin: 0 auto;
  }
}

.home #page{
  @extend .green-wrapper;
}

.home #main.wrapper{
  @include border-box;
  @include zero;
  @include rem-fallback(max-width, 100);
  margin: 0 auto;
  .site-content{
    margin: 0;
  }
}

#masthead hgroup{
  float: left;
}

#masthead.site-header{
  background-color: $black;
  padding: 0;
  min-height: 4.5em;
  position: relative;
  z-index: 100;
}

.widget-area{
  margin-left: 1em;
  margin-right: 1em;
  @media only screen and (min-width: 37.5em){
    float: none;
    width: -webkit-calc(100% - 2em) ;
    width: calc(100% - 2em) ;
  }
  
  @media #{$tablet} { //1400px
    margin-left: 0 ;
    margin-right: 0;
  }
}


/* 
* Sidebar and Inside Pages
*/

#toc_container{
  @include border-box;
  width: 100%;
  margin: 0 auto 2em;
  float: none;
  border: 0;
  padding: 0;
  @media #{$tablet}{

    .toc_list{
      background: $green !important;
      padding: 2em;
      width: 350px;
      @include border-box;
      min-height: 300px;
      &.stuck{
        position: fixed;
        top: 2em;
        width: 350px;
        z-index: 500;
      }
    }
  }
}

.page-template-page-templatesnya-toc-php{
  .site-content{
    margin-top: 0;
    .entry-content {
      @extend .wrapper;
      @media #{$tablet}{
        padding-right: 460px;
      }
      padding: 1em;
    }
  }
}

.site-content{
  .entry-header, .blog-header{
    margin: 0 0 2em;
    @include rem-fallback(padding, 3, 1, 2);
    background-color: $green;
    @media #{$mobile-landscape}{
      @include rem-fallback(padding, 2, 1, 2);
    }
    h1{      
      @extend .alpha; //2rem
      color: #fff;
      font-weight: bold;
      @include text-shadow;
      text-transform: uppercase;
    }
  }
}
// Page color changes
.page-template-page-templatesnya-toc-about-php, 
.page-template-nya-staff {
  .site-content .entry-header{
    background-color: $purple;
  }
}

.page-template-page-templatesnya-toc-programs-php{
  .site-content .entry-header{
    background-color: $yellow;
  }
}
.page-template-page-templatesnya-participants-php, 
.page-template-nya-volunteers{
  .site-content .entry-header{
    background-color: $blue;
  }
}
.page-template-page-templatesnya-partners-php, 
.page-template-page-templatesnya-get-involved-php{
  .site-content .entry-header{
    background-color: $pink;
  }
  
}

footer[role="contentinfo"]{
  @include border-box;
  @include rem-fallback(max-width, 100);
  margin: 0;
  padding: 2em 1em; 
  @media #{$mobile-landscape} { //600px
    @include zero;
    padding: 2em 1em;
    margin: 0 auto;
  }
  @media only screen and (min-width: 65em){ // overrides parent theme styles
    padding: 2em 3em;
    
  }
  @media #{$desktop-large} { //1400px
    @include zero;
    margin: 0 auto;
  }
}

.site-content article{
  margin-bottom: 0;
}