html, body{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

@media #{$desktop-xlarge}{
  html{
    font-size: 100%;
  }
}
/*
body{
  font-family: $lato;
  background: #111 url('images/bg.jpg') no-repeat top center;
  background-size: cover;
  
  @media only screen and (min-width: 37.5em) { //600px
  background: #111 url('images/bg.jpg') no-repeat top center;
  background-size: contain;
  }
  
  @media only screen and (min-width: 60.0em) { //960px
  background-position: center -275px;
  background-size: contain;
  } 
}
*/
body .site{
  padding: 0;
  background-color: #fff;
  margin: 0 auto;
  @media #{$mobile-landscape} { //960px
    margin: 0 auto; 
    padding:0;
    max-width: inherit; 
  }
}

.wrapper{
  @include border-box;
  @include zero;
  @include rem-fallback(max-width, 100);
  margin: 0 auto;
  position: relative;
  @media #{$mobile-landscape}{ //600px
    margin: 0 auto;
  }
  @media only screen and (min-width: 65em){ // overrides parent theme styles
    padding: 0 1em;
    
  }
  @media #{$desktop} { //1400px
    @include zero;
    margin: 0 auto;
  }
} 

.home #page{
  @extend .green-wrapper;
}

.home #main.wrapper{
  @include border-box;
  @include zero;
  @include rem-fallback(max-width, 100);
  margin: 0 auto;
  .site-content{
    margin: 0;
  }
}

#masthead hgroup{
  float: left;
}

#masthead.site-header{
  background-color: $black;
  padding: 0;
  min-height: 4.5em;
  position: relative;
  z-index: 100;
}


/* 
* Sidebar and Inside Pages
*/

#toc_container{
  @include border-box;
  width: 100%;
  margin: 0 auto 2em;
  float: none;
  border: 0;
  padding: 0;
  @media #{$tablet}{
    float: right;
    width: 35%;
    margin-left: 2em;
    margin-top: -2em;
    position: absolute;
    right: 1em;
    top: 76px;
    .toc_list.stuck{
      position: fixed;
      right: 1em;
      top: 2em;
      width: 35%;
      
    }
  }
}

.site-content{
  margin-top: 0;
  .entry-header{
    margin: 0 0 2em;
    @include rem-fallback(padding, 2, 1);
    background-color: $green;
    h1{
      @extend .alpha; //2rem
      color: #fff;
      font-weight: bold;
      @include text-shadow;
      text-transform: uppercase;
    }
  }
  .entry-content {
    @media #{$tablet}{
      float: right;
      padding-right: 40%;
    }
    padding: 1em;
  }
}










footer[role="contentinfo"]{
  @include border-box;
  @include rem-fallback(max-width, 100);
  margin: 0;
  padding: 2em 1em; 
  @media #{$mobile-landscape} { //600px
    @include zero;
    padding: 2em 1em;
    margin: 0 auto;
  }
  @media only screen and (min-width: 65em){ // overrides parent theme styles
    padding: 2em 3em;
    
  }
  @media #{$desktop-large} { //1400px
    @include zero;
    margin: 0 auto;
  }
}