/*
* Main Navigation Menu
*/

#site-navigation{
  margin-top: 0;
  h3.menu-toggle{
    @include hide-text;
    @include zero;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: $black url('images/toggle.png') no-repeat center center;
    background-size: 30px;
    position: absolute;
    top: 10px;
    right: 1em;
    width: 40px;
    height: 40px;
    border: 1px solid $text-color;
    @media #{$mobile-landscape}{ //600px
      display: inline-block;
    }
    @media #{$tablet}{ //770px
      display: none !important;
    }
    &.toggled-on{
      background: $black url('images/close.png') no-repeat center center;
      background-size: 30px;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  #menu-main-menu{
    padding: 0 0 .3em;
    width: 100%;
    li{
      padding: 1em 0; 
      margin: 0;
      a{
        color: #fff;
        @include rem-fallback(font-size, 1);
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    
    @media #{$mobile-landscape}{ //600px
      border: 0; 
      display: none !important;
      text-align: center;
      width: 100%;
      li{
        padding: 0;
        display: block;
      }
    }
    
    @media #{$tablet}{ //770px
     display: inline-block !important;
     width: auto;
     margin-right: 10px;
     float: right;
     li{
       float: left;
       margin: .5em 0 0 2em;
     }
    }
  }
  #menu-main-menu.toggled-on{
    @media only screen and (min-width: 37.5em){ //600px
      display: inline-block !important;
    }
    li{
      border-top: 1px solid #444;
      @media #{$tablet} { //770px
        border: 0;
      }
    }
  }
  
}// site navigation

.site-title{
  float: left;  
  width: 205px;
  @include hide-text;
  display:inline-block;
  float: left;
  @include zero;
  margin-left: 10px;
  margin-top: 20px;
  @include vector-bg-with-fallback(nya-logo);
  background-color: $black;
  background-repeat: no-repeat;
  background-position: top-left;
  background-size: 160px;
  @media #{$mobile}{ //320px
    background-size: 205px;
    margin-top: 15px;
  }
  @media #{$tablet}{ //770px
    background-size: 250px;
    width: 250px;
  }
  @media only screen and (min-width: 87.5em){ //1400px
    margin-left: 0;
  }
}

/*
* Social Media Menu
*/
.menu-social-menu-container{
  position: relative;
  z-index: 10;
  //float: right;
  #menu-social-menu{
    position: absolute;
    right:0;
    margin-right: .2em;
    @media #{$tablet}{ //770px
      margin-right: 1em;
    }
    @media #{$desktop}{ //1400px
      margin-right: 0;
    }
    li{
      float: right;
      margin-right: .5em;

      a[title="facebook"]{
        background: #517cd5;
        @include vector-bg-with-fallback(facebook);
      }
      a[title="twitter"]{
        background-color: #78d8e2;
        @include vector-bg-with-fallback(twitter);
      }
      a[title="facebook"],
      a[title="twitter"]{ 
        width: 40px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        background-repeat: no-repeat;
        background-position: center 1.7em; 
        background-size: 30px;
      }
      a{
        color: #fff;
        font-weight: bold;
        display: inline-block;
        -webkit-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        padding: 2em 0 1em;
        position: relative;
        top: -1.3em;
        @include ease;
        &:hover{
          top: -.4em;
        }
      }
      a[title="newsletter"]{
       // line-height: 0;
        display: block;
        background-color: #f24d76;
        text-decoration: none;
        padding: 2.25em 0.5em .75em;
        
      }//newsletter
    }//li
  }//social menu
}//social menu container

/*
*Footer Navigation
*/
.menu-footer-menu-container{
  float: right;
  margin-top: 2em;
  
  #menu-footer-menu{
    li{
      display: inline-block;
      margin: 0 2em 1em 0;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }
  
  @media #{$tablet}{ //770px
    margin-top: 0;
    
    #menu-footer-menu{
      li{
        display: inline-block;
        margin: 0 1em 2em;
      }
    }// menu-footer-menu
  }// mediaqueries
}// menu-footer-menu-container



