/* 
* Variables
*/

//Colors
$sbc-blue : #1a7ebe;
$primary: $sbc-blue;
$sbc-dark-blue: darken($primary, 15%); 
$text-color: #444;
$light-grey: #ededed;
$black: #1d1d1d;
$green: #82c83c;

// Font Stacks
$oswald: "Oswald", Helvetica, Arial, sans-serif;
$lato:   "Lato", Helvetica, Arial, sans-serif;

