/*
* Footer Widgets
*/
#footer-feature{
  clear: both;
  @extend .cf;
}
.four-col {
  a{
    padding: 3em 2em;
    display: inline-block;
    @include border-box; 
    text-shadow: 0 1px 1px #333;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 10.5em;
    text-align: center;
    float: left;

    @media #{$mobile-landscape}{
      width: 50%; 
    }
    @media #{$tablet-landscape}{
      width: 25%;
      height: 13em;      
    }
  }//a
  
  p{
    font-weight: 600;
    @include rem-fallback(font-size, 1); 
    @media #{$desktop}{
      @include rem-fallback(font-size, 1.17); 
    }
  }
  h3{
    @include zero;
    line-height: 1;
    margin-bottom: .5em;
    text-decoration:none;
    @include rem-fallback (font-size, 2.25);
    font-weight: 900;
    text-transform:uppercase;
    @media #{$tablet-landscape}{
      margin-top: .5em;
    }
  }
}
/* Animate the boxes */
@mixin animate{
  background-size: 100% 202%;
  transition: all 0.2s ease;
  -webkit-animation: down-bump 0.4s ease; 
  animation: down-bump 0.4s ease; 
  &:hover{
    background-position: 100% 100%;
    -webkit-animation: up-bump 0.4s ease;
    animation: up-bump 0.4s ease;
    text-shadow: none; 
  }
}

#linkabletitlehtmlandphpwidget-2 a{
  background: linear-gradient(
    $yellow, $yellow 50%, darken($yellow, 5%) 50%, darken($yellow, 5%)
  );
  @include animate;
}
#linkabletitlehtmlandphpwidget-3 a{
  background: linear-gradient(
    $pink, $pink 50%, darken($pink, 5%) 50%, darken($pink, 5%)
  );
  @include animate;
}
#linkabletitlehtmlandphpwidget-4 a{
  background: linear-gradient(
    $purple, $purple 50%, darken($purple, 5%) 50%, darken($purple, 5%)
  );
  @include animate;
}
#linkabletitlehtmlandphpwidget-5 a{
  background: linear-gradient(
    $blue, $blue 50%, darken($blue, 5%) 50%, darken($blue, 5%)
  );
  @include animate;
}


@-webkit-keyframes up-bump {
  0% { padding-top: 3em; }
  50% { padding-top: 3.5em; }
  100% { padding-top: 3em; }
}
@-moz-keyframes up-bump {
  0% { padding-top: 3em; }
  50% { padding-top: 3.5em; }
  100% { padding-top: 3em; }
}
@-o-keyframes up-bump {
  0% { padding-top: 3em; }
  50% { padding-top: 3.5em; }
  100% { padding-top: 3em; }
}
@keyframes up-bump {
  0% { padding-top: 3em; }
  50% { padding-top: 3.5em; }
  100% { padding-top: 3em; }
}

@-webkit-keyframes down-bump {
  0% { padding-top: 3em; }
  50% { padding-top: 3.5em; }
  100% { padding-top: 3em; }
}
@-moz-keyframes down-bump {
  0% { padding-top: 3em; }
  50% { padding-top: 3.5em; }
  100% { padding-top: 3em; }
}
@-o-keyframes down-bump {
  0% { padding-top: 3em; }
  50% { padding-top: 3.5em; }
  100% { padding-top: 3em; }
}
@keyframes down-bump {
  0% { padding-top: 3em; }
  50% { padding-top: 3.5em; }
  100% { padding-top: 3em; }
}

/*
* Flex Sliders
*/

.home-slider.metaslider{
  @include rem-fallback(max-width, 100);
  
  background-color: #82c83c;
  padding: 2em 0;
  @media #{$mobile-landscape}{
    padding: 0;
  }
  .caption-wrap{
    top: 20%;

    @media #{$tablet}{
      top: 30%
    }

    background: transparent !important;
    opacity: 1;
    padding: 0 3em;
    @include border-box;
    @include ease;
    h2{
      text-transform: uppercase;
      @include rem-fallback(font-size, 1.5); //18px
      @include text-shadow;
      margin-bottom: .5em;
    }
    p{
      display: none;
      line-height: 1.2;
      font-weight: 600;
      @include text-shadow;
    }//p
    a{
      text-transform: uppercase;
      display: inline-block;
      color: #fff;
      background-color: $black;
      padding: .5em 2.5em .5em 1em;
      text-decoration: none;
      font-weight: bold;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      @include rem-fallback(font-size, .875); //14px
      @include vector-bg-with-fallback(arrow-right); 
      background-repeat: no-repeat;
      background-position: right .75em top .65em;
      background-size: 15px;
      @media #{$desktop}{ 
        padding: .4em 2.5em .4em 1em;
      }
      @media #{$desktop-large}{ 
        padding: .5em 2.5em .5em 1em;
      }

    }//a

    @media #{$mobile-landscape}{
      h2{
        @include rem-fallback(font-size, 3); 
        @include rem-fallback(margin-bottom, 2);
      }
      p{
        width: 500px;
        display: block;
        line-height: 1.5;
        @include rem-fallback(font-size, 1.125); 
        
      }//p
      a{
        @include rem-fallback(margin-top, 2);
        @include rem-fallback(font-size, 1);  
      }
    }//mediaqueries

    @media #{$tablet}{
      padding: 0 5em;
      h2{
        @include rem-fallback(margin-bottom, 2.5);
        @include rem-fallback(font-size, 4); 
      }
      p{
        @include rem-fallback(font-size, 1.17); 
      }
    }
    
    @media #{$tablet-landscape}{
      p{
        @include rem-fallback(font-size, 1.325); 
      }
      a{
         @include rem-fallback(font-size, 1.17); 
       }
    }

    @media #{$desktop}{
      h2{
        @include rem-fallback(margin-bottom, 2.5);
        @include rem-fallback(font-size, 4.5); 
      }
      a{
        @include rem-fallback(font-size, 1.325);       
      }
      p{
        @include rem-fallback(font-size, 1.5); 
      }
    }//mediaqueries
    
  }//caption-wrap
}//slider

.sponsor-slider{
  padding: 2em 0;
  h2{
    padding: 1em;
    color: #fff !important;
    @media #{$tablet-landscape}{
      padding: 1em 1.5em 2em ;
    }
    @media #{$desktop-large}{
      @include zero;
      margin: 0 auto 2em ;
    }
  }
  .metaslider{
    background: $black;
  }
}


// Leaflet maps

.leaflet-container a.leaflet-popup-close-button{
  padding: 10px 10px 0 0 !important;
}

.leaflet-control-attribution.leaflet-control, 
.gmnoprint{
  display: none;
}

.mapsmarker{
  margin-bottom: 2em;
  margin-right: 2em;
  max-width: 100%;

  @media #{$tablet} { //600px
    float: left;
    margin-bottom: 4em;
    width: 100px;
  }
}


// Latest Tweets
.widget-area .widget{
  .latest-tweets li{
    border: 1px solid $light-grey;
    padding: 1em;
    border-radius:3px;
    margin-bottom: 1em; 
    @extend .cf;
  }
  .tweet-text, 
  .tweet-details{
    margin-bottom: .5em; 
    margin-top: .5em; 
  }
  .tweet-details{
    float: right;
  }
}


