/*
* Footer Widgets
*/


#footer-feature{
  clear: both;
  @extend .cf;
}
.col aside{
  float: left; 
  display: inline-block;
}
.four-col aside{
  width: 100%;
  @include border-box; 
  text-align: center;
  padding: 3em 2em;
  color: #fff; 
  text-shadow: 0 1px 1px #333;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  @media only screen and (min-width: 37.5em){
    width: 50%; 
  }
  @media only screen and (min-width: 65em){
    width: 25%;
    padding: 3.5em 2em;
    
  }
  
  
  h3{
    @include zero;
    line-height: 1;
    margin-bottom: 1em;  
  }
  p{
    font-weight: 600;
  }
  a{
    color: #fff;
    text-decoration:none;
    @include rem-fallback (font-size, 2.25);
    font-weight: 900;
  }
}

#linkabletitlehtmlandphpwidget-2{
  background-color: #ffcc00;
}
#linkabletitlehtmlandphpwidget-3{
  background-color: #f24d76;
}
#linkabletitlehtmlandphpwidget-4{
  background-color: #b755b7;
}
#linkabletitlehtmlandphpwidget-5{
  background-color: #3fa7ec;
}



/*
* Flex Sliders
*/

.home-slider.metaslider{
  background-color: #82c83c;
  padding: 2em 0;
  @media only screen and (min-width: 37.5em){
    padding: 0;
  }
  .caption-wrap{
    top: 30%;
    background: transparent !important;
    //position: static !important; 
    opacity: 1;
    padding: 0 3em;
    @include border-box;
    h2{
      text-transform: uppercase;
      @include rem-fallback(font-size, 1.5); //18px
      text-shadow: 0 1px 1px #333;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
      margin-bottom: .5em;
    }
    p{
      display: none;
      line-height: 1.2;
      font-weight: 600;
      text-shadow: 0 1px 1px #333;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
      
    }//p
    a{
      text-transform: uppercase;
      display: inline-block;
      color: #fff;
      background: $black;
      padding: 0 1em;
      text-decoration: none;
      font-weight: bold;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      @include rem-fallback(font-size, .875); //14px
    }
    @media only screen and (min-width: 37.5em){
      h2{
        @include rem-fallback(font-size, 3); //48px
        @include rem-fallback(margin-bottom, 2rem);
      }
      p{
        width: 500px;
        display: block;
        line-height: 1.5;
        @include rem-fallback(font-size, 1.125); //18px
        
      }//p
      a{
        @include rem-fallback(margin-top, 2rem);
        @include rem-fallback(font-size, 1); //14px        
      }
    }//mediaqueries
    @media only screen  and(min-width: 47.5em){
      padding: 0 5em;
      h2{
        @include rem-fallback(margin-bottom, 2.5rem);
        @include rem-fallback(font-size, 4); //48px
      }
    }
  }
}
.featured-sponsors{
  min-height: 150px;
  background-color: #1D1D1D;
  padding: 2em 0 0;
}


